<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div *ngFor="let persona of persone; index as i">
        <p class="cerchioV" *ngIf="persona.isOnline"></p>
        <p class="cerchioR" *ngIf="!persona.isOnline"></p>        
        <p>{{i}} {{persona.nome}} {{persona.cognome}}</p>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>  
    <input matInput placeholder="Ex. Pizza" value="Sushi" [(ngModel)]="title" />
</mat-form-field>
<p>{{title}}</p>
<br>
<br>
<cardComponent></cardComponent>
<br>
<p *ngIf="isVisible">è visibile</p>
<p *ngIf="!isVisible">non è visibile</p>
<br>
<br>
<ng-template *ngIf="isVisible; then bloccoIf else bloccoElse">Sono visibile</ng-template>

<ng-template #bloccoIf> 
    <p>sono visibile</p> 
</ng-template>
<ng-template #bloccoElse>
    <p>non sono visibile</p>
</ng-template> 

<br>
<app-button> </app-button>
 
